.body2 {
margin: auto;
}
.main-reg{
background-image: url('./Pictures/1.png');
 background-size: cover;
    background-position: center;
    height:893px;
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(max-width:500px ) 
{.main-reg{
height: 700px;
}}
.box_pod_glav {
display: flex;
background-color: rgb(248, 74, 89);
opacity: 0.75;
width: 400px;
height: 500px;
padding: 20px;
flex-direction: column;
justify-content: center;
align-items: center;
}
@media (max-width:500px) 
{.box_pod_glav
{width: 200px;
height: 250px;
padding: 10px;}   
}
.img-ava{
display: flex;
position: relative ; left: 250px; bottom: 270px;
z-index: 100;
}
@media (max-width:500px) 
{.img-ava
{left: 0px;
top: 30px}   
}
.box_GLAV {
display: flex;
justify-content: center;
align-items: center;
}
.box_ctroki{
width: 100%;
height: 10% ;
display: flex;
justify-content: center;
margin-top:5% ;
}
.ctroka{
width: 70% ;
height: 100% ;
}
.box_ctroki2{
width: 33%;
height: 5% ;
display: flex;
justify-content: center;
margin-top:5% ;
border: 1px solid;
background-color: aliceblue;
}
@media (max-width:500px) 
{.box_ctroki2
{width: 67%;
height: 8% ;}   
}
.a1 {text-decoration: none;
color: black;}
.a2{
text-decoration: none;
position: relative; right: 50px; top: 230px;
}
@media (max-width:500px) 
{.a2
{left: 90px;
top: -35px;
}}
.footer1{
width: 100%;
height: 60px;
background-color: #3a1818;
display: flex;
justify-content: center;
align-items: center;
}






.body1 {
margin: auto;
}
.hero-section {
    background-image: url('./Pictures/23.png');
    background-size: cover;
    background-position: center;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.hero-section2 {
    background-image: url('./Pictures/1.1.png');
    background-size: cover;
    background-position: center;
    height:833px;
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
}
@media(max-width:500px ) 
{.hero-section2{
height: 1300;
}}
.hero-section3 {
    background-image: url('./Pictures/1.1.png');
    background-size: cover;
    background-position: center;
    height:900px;
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;}
@media(max-width:500px ) 
{.hero-section3{
height: 1300;
}}    
.glav{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.knopka_glav{
width:60px;
height: 30%;
display: flex;
align-items: center;
justify-content: center;
color: #cccccc;
text-decoration: none;
background-color: #3a1818;
border: #9F1D35 1px solid ;
margin-right: 20px;
}
@media (max-width:500px)
{.knopka_glav{
margin-right: 5px;
font-size: 17px;
width: 18%;
}}
.knopka_menu{
width: 50px;
height: 30%;
display: flex;
align-items: center;
justify-content: center;
color: #cccccc;
text-decoration: none;
background-color: #3a1818;
border: #9F1D35 1px solid ;

}
@media (max-width:500px)
{.knopka_menu{
font-size: 17px;
width: 13%
}}
.knopka_register{
width: 140px;
height: 30%;
display: flex;
align-items: center;
justify-content: center;
color: #cccccc;
text-decoration: none;
background-color: #3a1818;
border: #9F1D35 1px solid ;
margin-left: 20px;
}
@media (max-width:500px)
{.knopka_register{
margin-left: 5px;
font-size: 17px;
width: 38%
}}
a {
text-decoration: none;
color: aliceblue;
}
.vubor_tupa {
width: 100%;
height: 3%;
display: flex;
justify-content: left;
justify-content: center;
}
@media (max-width:500px) 
{.vubor_tupa    {
height: 2%;
}}
.knopka_vubora_tupa{
text-decoration: none;
border: 1px solid ;
margin: 2px;background-color: #3a1818;
color: #f7cc3f;
}
@media (max-width:500px) 
{.knopka_vubora_tupa{
font-size: 12px;
}}
.nazvanue_tupa{
width: 100%;
height: 10% ;
font-size: 30px;   
}   
.fon{
width: 300px;
height: 500px;
background-color: #1A1A1A;
border: #D4AF37 1px solid;
border-radius: 12px;
display: flex;
align-items: center;
flex-direction: column;    
}
@media(max-width:500px )
{.fon{width: 200px;
height: 370px;
}}
.img_1 {
width: 95%;
height: 45%;
border-radius:12px ;
padding-left:3px ;
padding-top: 3px;
}
.nazvanue_blida{
width: 70%;
height: 5%;
color: aliceblue;
border: 1px solid #9F1D35;
margin-top: 10px ;
display: flex;
justify-content: center;
align-items: center;
}
@media (max-width:500px ){.nazvanue_blida{
font-size: 12px;
height: 6%;
}}
.lunui {
width: 90%;
border: 1px solid #D4AF37;
margin-top: 10px;
}
.pokypka {
width: 70%;
height: 5%;
color: #f7cc3f;
border: #9F1D35 1px solid;
margin-top: 10px;
display: flex;
justify-content: center;
align-items: center;
}
@media (max-width: 500px) 
{.pokypka{
font-size: 12px;
margin-top: 5px;
}}
.opusanue {
width: 72%;
height: 30%;
color: #f7cc3f;
border: #9F1D35 1px solid;
margin-top: 10px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 30px;
}
@media (max-width:500px )
{.opusanue{
font-size: 12px;
height: 30%;
margin-top: 5px;
}   
}
.blida {
width: 100%;
height: 90%;
display: flex;
justify-content: space-evenly;

}
@media(max-width:500px ) 
{.blida{flex-wrap: wrap;    
}
}





.body3 {
margin: auto
}
.hero-section4 {
    background-image: url('./Pictures/24.png');
    background-size: cover;
    height: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}
@media (max-width:500px)
{.hero-section4{
height: 1200px;
width: 100%;
}}
.header_main {
width: 100%;
height: 60px;
background-color: #3a1818;
display: flex;
}
.img_loga{
height:60px ;
width: 60px;
}
.box_glav{
width: 1800px;
height: 800px;
display: flex;
}
@media (max-width:500px)
{.box_glav{
flex-direction: column;
}}
.box_img{
width: 40%;
height: 90%;
}
@media (max-width:500px)
{.box_img{
width: 20%;
height: 45%;
}}
.novastu{
width: 50%;
height: 90%;
margin-left: 10px;
border: #9F1D35 2px solid;
}
@media (max-width:500px)
{.novastu{
width: 25%;
height: 45%;
}}
.strok_novastu {
width: 99.8%;
height: 19.6%;
border: #f7cc3f solid 1px;
background-color: #3a1818;
margin-top: 0.5px;
display: flex;
align-items: center;
color: #D4AF37;
}
@media (max-width:500px)
{.strok_novastu{
font-size: 11.7px;
}}
.karta{
border: #9F1D35 1px solid;
width: 1000px;
height: 450px;
display: flex;
}
@media(max-width:500px)
{.karta{
flex-direction: column;
width: 300px;
height: 450px;
}}
.karta_opusanue{
width: 398px;
width: 448px;
background-color: #3a1818;
border: #f7cc3f solid 1px;
align-items: center;
display: flex;
color: #f7cc3f;
}
@media(max-width:500px)
{.karta_opusanue{
width: 299;
height: 224;
}}
iframe{
width: 600px;
height: 450px;
}
@media(max-width:500px)
{iframe{
width: 300px;
height: 225px;
}}
footer{
width: 100%;
height: 60px;
background-color: #3b2121;
display: flex;
justify-content: center;
align-items: center;
}
.img-kont {
width: 30px;
height: 30px;
}